.Burger {
  $self: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(em(45px), em(45px));
  background-color: $color-light;
  border-radius: 50%;

  &_clicked {
    #{$self}-Icon_burger {
      opacity: 0;
    }

    #{$self}-Icon_close {
      opacity: 1;
    }
  }

  &-Icon {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    fill: #000;
    pointer-events: none;
    opacity: 0;

    &_burger {
      opacity: 1;
    }

    &_close {
      opacity: 0;
    }
  }
}
