.Hero {
  $self: &;

  &-Slider {
    @include size(100%, 100%);
    overflow: hidden;
  }

  &-Slide {
    position: relative;
    //position: absolute;
    // top: 0;
    // left: 0;
    z-index: 0;
    min-height: 100vh;
    width: 100%;
    //opacity: 0;
    padding-bottom: em(45px);
    transition: background-color 0.5s ease, opacity 1s ease;
    overflow: hidden;

    &_active {
      position: relative;
      z-index: 1;
      opacity: 1;
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  height: 100vh;
    //  overflow: hidden;
    //  padding: 0;

    //  &::after {
    //    @supports(filter: blur(40px)) {
    //      content: '';
    //      @include position(absolute, null -40vw -65vw null);
    //      z-index: 0;
    //      @include size(100vw, 100vw);
    //      border-radius: 50%;
    //      filter: blur(40px);
    //      opacity: 0.1;
    //      pointer-events: none;
    //    }
    //  }
    //}
  }

  &-Wrap {
    $height: 550px;
    $b-width: 350px;
    $b-height: $b-width / 2;

    position: relative;
    @include size(100%, calc(100vmax - #{$top-bar-height}));
    overflow: hidden;

    // >= 768
    @include minW($tablet-width) {
      height: em($height * 1.5);
    }

    // >= 1024
    @include minW($ipad-width) {
      height: em($height * 1.15);
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  height: 100vh;
    //}
  }

  &-Hold {
    @include position(absolute, 0 null null 0);
    @include size(100%, 100%);
    pointer-events: none;

    // >= 1280
    //@include minW($macbook-width) {
    //  @include size(100vw, 100vh);
    //}
  }

  &-Img {
    $width: 370px;

    @include position(absolute, -1.5% null null 0);
    @include size(100%, 103%);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 37% 0, 37% 120%;
    pointer-events: none;

    // >= 768
    @include minW($tablet-width) {
      background-size: auto 100%;
      background-position: 8% 0, 50%;
    }

    // >= 1024
    @include minW($ipad-width) {
      background-position: 80% 0, 50%;
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  top: -1.2vh;
    //  height: 105%;
    //  background-size: auto 98%;
    //  background-position: 86% 0;
    //}

    // 1280 =< w >= 1281 && h >= 970
    //@media screen and (min-width: $macbook-width) and (max-width: $macbook-width + 1px) and (min-height: 950px) {
    //  top: -1.2vh;
    //  height: 95%;
    //  background-size: auto 91%;
    //  background-position: 150% 0;
    //}
  }

  &-Product {
    $width: 175px;
    $height: 210px;

    @include position(absolute, null null 20vmax calc(50% - #{em(190px)}));
    @include size(em($width * 0.82), em($height * 0.82));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(-15deg) translate(30%, -5%);
    box-shadow: 5px 0 25px -10px rgba($color-light, 0.5);

    // >= 768
    @include minW($tablet-width) {
      bottom: em(70px);
      left: calc(50% - #{em(260px)});
      @include size(em($width * 1.2), em($height * 1.2));
    }

    // >= 1024
    @include minW($ipad-width) {
      bottom: em(90px);
      left: calc(50% - #{em(280px)});
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  bottom: 10vh;
    //  left: calc(50% - 6vw);
    //  @include size(15.5vw * 0.75, 19vw * 0.75);
    //  transform: rotateZ(-15deg);
    //}

    // 1280 =< w >= 1281 && h >= 970
    //@media screen and (min-width: $macbook-width) and (max-width: $macbook-width + 1px) and (min-height: 950px) {
    //  bottom: 30vh;
    //  left: calc(50% - 2vw);
    //}

    // >= 1440
    //@include minW($laptop-lg-width) {
    //  bottom: 13vh;
    //}
  }

  &-Link {
    display: block;
    @include size(100%, 100%);
    cursor: pointer;
    pointer-events: auto;
  }

  &-First {
    @include position(absolute, 25% null null em(-60px));
    @include size(em(150px), em(110px));
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;

    // >= 1280
    //@include minW($macbook-width) {
    //  top: -5vw;
    //  left: calc(#{em($header-width)} + 8%);
    //  @include size(17vw, 17vw);
    //  background-size: contain;
    //}
  }

  &-Next {
    @include position(absolute, null calc(50% - #{em(100px)}) 22vmax null);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(em(50px), em(50px));
    border-radius: 50%;
    pointer-events: auto;
    transition: background-color 0.3s ease;

    svg {
      fill: $color-light;
    }

    // >= 768
    @include minW($tablet-width) {
      right: calc(50% - #{em(140px)});
      bottom: em(110px);
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  bottom: 13vh;
    //  left: calc(50% + 9vw);
    //}

    // 1280 =< w >= 1281 && h >= 970
    //@media screen and (min-width: $macbook-width) and (max-width: $macbook-width + 1px) and (min-height: 950px) {
    //  bottom: 29vh;
    //  left: calc(50% + 16vw);
    //}

    // >= 1440
    //@include minW($laptop-lg-width) {
    //  bottom: 15vh;
    //  left: calc(50% + 10vw);
    //}
  }

  &-Tastes {
    @include position(absolute, calc(100vmax - 24vmax - 94px) null null 50%);
    z-index: 3;
    width: calc(100% - #{em(2 * 20px)});
    transform: translate(-50%, 0);

    // >= 768
    @include minW($tablet-width) {
      top: em(765px);
    }

    // >= 1024
    @include minW($ipad-width) {
      top: em(510px);
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  top: 0;
    //  right: 0;
    //  left: auto;
    //  @include size(37vw, 100vh);
    //  transform: none;
    //  overflow: visible;
    //}
  }

  &-Text {
    margin-top: em(5px);
    padding: 0 em($pad-mob);
    text-align: center;

    @media screen and (min-width: $tablet-width) and (max-width: $ipad-width - 1px) {
      margin-top: em(100px);
    }

    // >= 1024
    @include minW($ipad-width) {
      margin-top: em(70px);
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  @include position(absolute, calc(50% - #{em(15px)}) null null calc(#{em($header-width)} + 5%));
    //  width: em(350px);
    //  margin: 0;
    //  padding: 0;
    //  text-align: left;
    //  transform: translate(0, -50%);
    //}

    // >= 1900
    //@include minW($full-hd-width) {
    //  width: em(450px);
    //}
  }

  &-Title {
    font-size: em(24px);
    text-transform: uppercase;

    // >= 1280
    //@include minW($macbook-width) {
    //  font-size: em(36px);
    //}

    // >= 1900
    //@include minW($full-hd-width) {
    //  font-size: em(48px);
    //}
  }

  &-Desc {
    margin: em(30px) 0;
    line-height: 1.75;

    span {
      &::after {
        content: '\270C';
        margin-left: em(3px);
      }
    }

    // >= 768 && <= 1023
    @media screen and (min-width: $tablet-width) and (max-width: $ipad-width - 1px) {
      margin-top: em(10px);
    }

    // >= 1280
    //@include minW($macbook-width) {
    //  margin-top: em(30px);
    //  margin-bottom: em(30px);
    //}

    // >= 1900
    //@include minW($full-hd-width) {
    //  font-size: em(20px);
    //}
  }

  &-Btn {
    font-weight: 600;
    border: 0;

    // >= 1900
    //@include minW($full-hd-width) {
    //  font-size: em(18px);
    //}
  }
}
