body {
  &.isFixed {
    overflow: hidden;
  }

  a,
  button {
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.App {
  width: 100vw;
  height: 100vh;

  background-color: $strong;

  &-Header {
    @include position(fixed, 0 null null 0);
    z-index: 10;
    @include size(100%, em(80px));

    // >= 768
    @include minW($macbook-width) {
      width: em($header-width);
      height: 100vh;
    }
  }
}

.Section {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  background-color: $strong;
  overflow: hidden;

  //&::after {
  //  @supports(filter: blur(40px)) {
  //    content: '';
  //    @include position(absolute, null -50vw -50vw null);
  //    @include size(100vw, 100vw);
  //    background-color: $strong-inner;
  //    border-radius: 50%;
  //    filter: blur(40px);
  //    opacity: 0.1;
  //    pointer-events: none;
  //  }
  //}


//   // >= 1280
//   @include minW($macbook-width) {
//     margin-left: em($header-width);
//   }
}

.Container {
  position: relative;
  z-index: 1;
  padding: 0 em($pad-mob);

  // >= 768
  @include minW($tablet-width) {
    padding: 0 em($pad-tab);
  }

  // >= 1280
  @include minW($macbook-width) {
    padding: 0 $pad-desk;
  }

  // >= 1366
  @include minW($laptop-width) {
    padding: 0 8%;
  }
}

.Title {
  font-size: rem(22px);
  font-weight: 600;
  text-transform: uppercase;
  color: $color-light;

  // >= 1024
  @include minW($ipad-width) {
    font-size: rem(30px);
  }
}

.Next {
  display: block;
  border-radius: 50%;

  &:focus,
  &:active {
    outline: none;
  }

  svg {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    fill: $color-light;
  }
}

.Close {
  svg {
    fill: $color-light;
    transition: stroke 0.3s ease;
  }
}

.Backdrop {
  @include position(fixed, 0 0 0 0);
  z-index: 11;
  background-color: rgba($strong, 0.5);
  visibility: hidden;
  opacity: 0;

  &.isActive {
    visibility: visible;
    opacity: 1;
  }

  // >= 1280
  @include minW($macbook-width) {
    left: em($header-width);
  }
}

button,
input {
  font-family: $ff-default;
}