@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
